<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
	<link rel="stylesheet" href="/style.css"/>
	<script>
		document.addEventListener('click', (e) => {
			if (!e.target.matches('a.ajax')) {
				return
			}
			e.preventDefault()
			fetch(e.target.href, {
				headers: {
					'X-Requested-With': 'XMLHttpRequest',
				}
			}).then(it => {
				window.history.pushState({}, document.title, e.target.href)
				return it.json()
			})
			.then(it => {
				for (let id in it.snippets) {
					const target = document.getElementById(id)
					if (!target) {
						continue
					}
					target.innerHTML = it.snippets[id]
				}
			})
		})
	</script>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<div class="main">
		<div class="content">
			{include content}
		</div>
		<div class="sidebar">
			Sidebar
			<ul>
				{foreach $categories as $cat}
					<li><a n:href="Category: $cat->slug">{$cat->name}</a></li>
				{/foreach}
			</ul>
		</div>
	</div>
</body>
</html>
